<% content_for :metas do %>
    <!-- for Facebook -->
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:type" content="website" />
    <% if @title.present? %>
        <meta property="og:title" content="<%= @title.html_safe %>"/>
    <% else %>
        <meta property="og:title" content="ThichLaDi.Info"/>
    <% end %>
    <% if @meta_description.present? %>
        <meta property="og:description" content="<%= @meta_description %>"/>
    <% else %>
        <meta property="og:description" content="Du Lịch Khám Phá Mới - Chuyên tour Miền Tây, Phú Quốc, Bình Ba, Bình Hưng, Nam Du, Hải Tặc. Chuyên tour đoàn, tổ chức event, team building."/>
    <% end %>
    <meta property="og:image" content="http://thichladi.info/frontend/assets/images/image-for-share.png"/>
<% end %>
<div class="page-container ptb-10">
    <div class="container">
        <section class="error-page-area">
            <div class="container">
                <div class="error-page-wrapper t-center">
                    <div class="error-page-footer">
                        <h3>Đăng ký không thành công! Email này đã được đăng ký.</h3>
                    </div>
                    <%= link_to "Quay về trang chủ", erp_thichladi.root_path, class: "btn btn-rounded", title: "Quay về trang chủ" %>
                </div>
            </div>
        </section>
    </div>
</div>