<% content_for :title do %>
    <%= t('.dashboard') %>
<% end %>
<div class="note note-info">
    <%= image_tag "/backend/images/img-dashboard.png", alt: "Thích Là Đi - Du Lịch Khám Phá Mới", class: "img-dashboard" %>
</div>