<footer id="mainFooter" class="main-footer">
    <div class="container">
        <div class="row">
            <p>Copyright &copy; 2017 <a href="" title="" target="_blank" class="link-copyright">Công Ty TNHH Du Lịch Khám Phá Mới</a>. All rights reserved.</p>
        </div>
    </div>
</footer>