<div class="header-header bg-white">
    <div class="container">
        <div class="row row-rl-0 row-tb-20 row-md-cell">
            <div class="brand col-md-3 t-xs-center t-md-left valign-middle">
                <%= link_to image_tag("/frontend/assets/images/logo-newdiscovery.png",
                                      alt: "Quay về trang chủ website thichladi.info", width: "180"), erp_thichladi.root_path,
                                      class: "logo", title: "Quay về trang chủ website thichladi.info" %>
            </div>
            <div class="header-search col-md-9">
                <div class="row row-tb-10 ">
                    <div class="col-sm-12">
                        <form class=search-form" method="GET" action="<%= erp_thichladi.tour_search_path %>">
                            <div class="input-group">
                                <input type="text" name="tour_name" class="form-control input-lg search-input" placeholder="Tìm kiếm tại đây...">
                                <div class="input-group-btn">
                                    <div class="input-group">
                                        <select name="menu_id" class="form-control input-lg search-select">                                            
                                            <% Erp::Tours::Menu.get_menus.each do |menu| %>
                                            <option value="<%= menu.id %>"><%= menu.menu_name %></option>
                                            <% end %>
                                        </select>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-lg btn-search btn-block">
                                                <i class="fa fa-search font-16"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>