<div class="header-menu bg-blue">
    <div class="container">
        <nav class="nav-bar">
            <div class="nav-header">
                <span class="nav-toggle" data-toggle="#header-navbar">
                <i></i>
                <i></i>
                <i></i>
            </span>
            </div>
            <div id="header-navbar" class="nav-collapse">
                <ul class="nav-menu">
                    <li class="active">
                        <a href="index.html">Trang Chủ</a>
                    </li>                                                                
                    <li>
                        <a href="javascript:void(0)">Tour Du Lịch Trong Nước</a>
                        <ul>
                            <li>
                                <a href="">Tour Du Lịch Miền Bắc</a>
                            </li>
                            <li>
                                <a href="">Tour Du Lịch Miền Trung</a>
                            </li>
                            <li>
                                <a href="">Tour Du Lịch Miền Nam</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Tour Du Lịch Nước Ngoài</a>
                        <ul>
                            <li>
                                <a href="">Tour Du Lịch Đông Nam Á</a>
                            </li>
                            <li>
                                <a href="">Tour Du Lịch Châu Á</a>
                            </li>
                            <li>
                                <a href="">Tour Du Lịch Châu Âu</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Tin Tức Du Lịch</a>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">Tin Tức - Sự Kiện</a>
                                <ul>
                                    <li>
                                        <a href="">Tin Trong Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Ngoài Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Khuyến Mãi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Danh Lam Thắng Cảnh</a>
                                <ul>
                                    <li>
                                        <a href="">Tin Trong Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Ngoài Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Khuyến Mãi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Lễ Hội</a>
                                <ul>
                                    <li>
                                        <a href="">Tin Trong Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Ngoài Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Khuyến Mãi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Ẩm Thực</a>
                                <ul>
                                    <li>
                                        <a href="">Tin Trong Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Ngoài Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Khuyến Mãi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Non Nước Việt Nam</a>
                                <ul>
                                    <li>
                                        <a href="">Tin Trong Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Ngoài Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Khuyến Mãi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Cảm Nang Du Lịch</a>
                                <ul>
                                    <li>
                                        <a href="">Tin Trong Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Ngoài Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Khuyến Mãi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Giải Trí</a>
                                <ul>
                                    <li>
                                        <a href="">Tin Trong Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Ngoài Nước</a>
                                    </li>
                                    <li>
                                        <a href="">Tin Khuyến Mãi</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><%= link_to "Giới Thiệu", erp_thichladi.intro_path %></li>
                    <li><%= link_to "Liên Hệ", erp_thichladi.contact_path %></li> 
                </ul>
            </div>
            <div class="nav-menu nav-menu-fixed">
                <a href="" target="_blank">
                    TẢI BẢNG GIÁ TOUR
                    <i class="fa fa-cloud-download ml-10"></i>
                </a>
            </div>
        </nav>
    </div>
</div>