<div class="top-bar bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 is-hidden-sm-down">
                <ul class="nav-top nav-top-left list-inline t-left">
                    <li>
                        <a href="">
                            <i class="fa fa-home"></i>
                            Trang Chủ
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-globe"></i>
                            Tour Du Lịch Trong Nước
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-plane"></i>
                            Tour Du Lịch Nước Ngoài
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-support"></i>
                            Hướng Dẫn Đặt Tour
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-book"></i>
                            Chăm Sóc Khách Hàng
                        </a>
                    </li>
                    <li><%= link_to '<i class="fa fa-thumb-tack"></i> Giới Thiệu'.html_safe, erp_thichladi.intro_path %></li>
                    <li><%= link_to '<i class="fa fa-send"></i> Liên Hệ'.html_safe, erp_thichladi.contact_path %></li>
                </ul>
            </div>                        
        </div>
    </div>
</div>