<div class="top-bar bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 is-hidden-sm-down">
                <ul class="nav-top nav-top-left list-inline t-left">
                    <li><%= link_to '<i class="fa fa-home"></i> Trang Chủ'.html_safe, erp_thichladi.root_path, title: "" %></li>
                    <% Erp::Tours::Menu.get_main_menus.each do |menu| %>
                    <li><%= link_to '<i class="fa fa-plane"></i>'.html_safe + menu.menu_name, erp_thichladi.tour_path, title: menu.menu_name %></li>
                    <% end %>
                    <li>
                        <a href="">
                            <i class="fa fa-support"></i>
                            Hướng Dẫn Đặt Tour
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-book"></i>
                            Chăm Sóc Khách Hàng
                        </a>
                    </li>
                    <li><%= link_to '<i class="fa fa-thumb-tack"></i> Giới Thiệu'.html_safe, erp_thichladi.intro_path %></li>
                    <li><%= link_to '<i class="fa fa-send"></i> Liên Hệ'.html_safe, erp_thichladi.contact_path %></li>
                </ul>
            </div>                        
        </div>
    </div>
</div>