<div class="page-container ptb-60">
    <div class="container">
        <div class="row row-rl-10 row-tb-20">
            <div class="page-content col-xs-12 col-sm-7 col-md-8">
                <!-- Blog Area -->
                <div class="blog-area blog-single-post">
                    <div class="row row-tb-20">
                        <!-- Blog Post -->
                        <div class="blog-post col-xs-12">
                            <article class="entry panel">
                                <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="/frontend/assets/images/blog_01.jpg">
                                    <div class="entry-date">
                                        <h4>29</h4>
                                        <h6>09</h6>
                                    </div>
                                </figure>
                                <div class="entry-wrapper prl-20 prl-md-30 pt-20 pt-md-30 pb-15">
                                    <header class="entry-header">
                                        <h4 class="entry-title mb-10 mb-md-15">Tiêu đề bài viết</h4>
                                        <div class="entry-meta mb-10">
                                            <ul class="tag-info list-inline">
                                                <li><i class="icon fa fa-folder-open"></i> Một Thoáng Quê Hương</li>
                                            </ul>
                                        </div>
                                    </header>
                                    <div class="entry-content text-justify">
                                        <p class="mb-20">Aliquam convallis sollicitudin purus. Praesent aliquam, enim at fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat imperdiet. Aenean suscipit nulla in justo. Suspendisse cursus rutrum augue. Nulla tincidunt tincidunt mi.</p>
                                        <blockquote class="block-quote mb-20">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur esse, aliquam dolore nulla debitis excepturi ea ex earum quos molestias porro aut, corporis, ratione assumenda sint pariatur veritatis possimus nobis!</p>
                                        </blockquote>
                                        <p class="mb-20">Praesent aliquam, enim at fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat imperdiet. Aenean suscipit nulla in justo.</p>
                                        <h4 class="mb-20">Lorem ipsum dolor sit amet, consectetur.</h4>
                                        <p class="mb-20">Praesent aliquam, enim at fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce vulputate sem at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis sed leo placerat imperdiet. Aenean suscipit nulla in justo.</p>
                                        <h5 class="mb-10">Qui cumque numquam ?</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus a nobis, vero in corrupti nostrum. Magni reprehenderit tempora tempore maiores, repellat in laboriosam aliquid ex error, iusto quae, et similique.</p>
                                        <ul class="mb-20 list-styled">
                                            <li>laborum veniam odio fuga deleniti provident.</li>
                                            <li>Voluptates quos accusamus repudiandae? Officia!</li>
                                            <li>Rerum ea omnis quos. Facere!</li>
                                        </ul>
                                        <p class="mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sunt a quam, exercitationem, provident numquam quia eius optio quos vitae odio impedit ipsum voluptatem earum neque architecto enim quisquam, ea.</p>
                                        <p class="mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ipsum facilis, eaque aliquid porro deleniti architecto eum perferendis quidem modi quo reiciendis dolor deserunt beatae repellat, nostrum aut fuga. Rem?</p>                                        
                                        <p class="mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ipsum facilis, eaque aliquid porro deleniti architecto eum perferendis quidem modi quo reiciendis dolor deserunt beatae repellat, nostrum aut fuga. Rem?</p>
                                        <p class="mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sunt a quam, exercitationem, provident numquam quia eius optio quos vitae odio impedit ipsum voluptatem earum neque architecto enim quisquam, ea.</p>
                                    </div>
                                    <!-- .entry-wrapper -->
                                    <footer class="entry-footer">
                                        <ul class="share-buttons ptb-20">
                                            <li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a>
                                            </li>
                                            <li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a>
                                            </li>
                                        </ul>
                                    </footer>
                                </div>
                            </article>
                        </div>
                        <!-- End Blog Post -->
                    </div>
                </div>
                <!-- End Blog Area -->
            </div>
            <div class="page-sidebar col-md-4 col-sm-5 col-xs-12">
                <!-- Blog Sidebar -->
                <%= render "erp/thichladi/frontend/modules/blog/sidebar" %>
                <!-- End Blog Sidebar -->
            </div>
        </div>
    </div>
</div>
<!-- End Page Container -->