<div class="col-xs-12">
    <!-- Contact Us Widget -->
    <div class="widget contact-us-widget panel pt-20 prl-20">
        <h3 class="widget-title h-title">Tôi có một vài thắc mắc?</h3>
        <div class="widget-body ptb-30">
            <p class="mb-20 color-mid text-justify">Nếu như bạn có những thắc mắc hay những câu hỏi dành cho chúng tôi. Hãy gửi vào mục HỖ TRỢ TRỰC TUYẾN hoặc truy cập vào trang liên hệ của chúng tôi.</p>
            <a href="" class="btn btn-block"><i class="mr-10 font-15 fa fa-envelope-o"></i>Vào trang liên hệ</a>
        </div>
    </div>
    <!-- End Contact Us Widget -->
</div>