<div class="col-xs-12">
    <!-- Subscribe Widget -->
    <div class="widget subscribe-widget panel pt-20 prl-20">
        <h3 class="widget-title h-title">ĐĂNG KÝ NHẬN TIN GIẢM GIÁ</h3>
        <div class="widget-content ptb-30">
            <p class="color-mid mb-20">Chúng tôi hoàn toàn không spam hay chia sẻ với đơn vị thứ ba.</p>
            <form method="post" action="#">
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Email đăng ký..." required="required">
                    <span class="input-group-btn">
                        <button class="btn" type="submit">Đăng ký ngay</button>
                    </span>
                </div>
            </form>

        </div>
    </div>
    <!-- End Subscribe Widget -->
</div>