<div class="page-container ptb-20">
    <div class="container">
        <div class="row row-rl-10 row-tb-20">
            <div class="page-content col-xs-12 col-sm-7 col-md-8">
                <div class="row row-tb-20">
                    <div class="col-xs-12">
                        <div class="deal-deatails panel">
                            <div class="deal-slider">
                                <div id="product_slider" class="flexslider">
                                    <ul class="slides">
                                        <% @tour.tour_images.each do |tour_image| %>
                                        <li><%= image_tag tour_image.image_url.large, alt: @tour.tour_name, title: @tour.tour_name %></li>
                                        <% end %>
                                    </ul>
                                </div>
                                <div id="product_slider_nav" class="flexslider flexslider-nav">
                                    <ul class="slides">
                                        <% @tour.tour_images.each do |tour_image| %>
                                        <li><%= image_tag tour_image.image_url.medium, alt: @tour.tour_name, title: @tour.tour_name %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                            <div class="deal-body text-justify p-20"><%= @tour.content.html_safe if @tour.content.present? %></div>                                                        
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="google-map-iframe embed-responsive-item" src="http://maps.google.com/maps?q=56.7638955,-120.0681474&amp;z=4&amp;output=embed"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-sidebar col-md-4 col-sm-5 col-xs-12">
                <!-- Blog Sidebar -->
                <%= render "erp/thichladi/frontend/modules/tour/sidebar", tour: @tour %>
                <!-- End Blog Sidebar -->
            </div>
        </div>
    </div>
</div>