<div class="page-container ptb-10">
    <div class="container">
        <section class="error-page-area">
            <div class="container">
                <div class="error-page-wrapper t-center">
                    <div class="error-page-footer">
                        <h3>Đăng ký tour thành công!</h3>
                    </div>
                    <%= link_to "Quay về trang chủ", erp_thichladi.root_path, class: "btn btn-rounded", title: "Quay về trang chủ" %>
                </div>
            </div>
        </section>
    </div>
</div>